@import url(http://fonts.googleapis.com/css?family=Gabriela|Bubblegum+Sans);
body{
	margin : 0;
	font-family : gabriela;
	width : 100%;
}
#premierDiv{
	background : white;
}
#contenantConnexion{
	border : solid 3px #bda44d;
	float : right;
	width : 100%;
	margin-right : 5%;
	background : white;
}
#connexion {
	text-decoration : none;
	color : black;
}
#visibilityConnexion a+#divConnexion{
	display : none;
}
#visibilityConnexion a:hover+#divConnexion{
	display : block;
	text-decoration : none;
}
#divConnexion{
	position : absolute;
}
#connexionInscription{
	float : right;
	margin-right : 3%;
	margin-top : 1%;
}
#inscription{
	text-decoration : none;
	color : black;
}
#adminDeco{
	float : right;
	margin-right : 3%;
	text-decoration : none;
	color : black;
}
#userDeco{
	float : right;
	margin-right : 5%;
	text-decoration : none;
	color : black;
}
#deconnexion{
	float : right;
	margin-right : -6.75%;
	margin-top : 2%;
	text-decoration : none;
	color : black;
}
#entete{
	background : url(../images/titre.png) no-repeat center;
	padding-top : 90px;
	margin :0;
}
#bar1{
	margin : auto;
	width : 70%;
	background-image : url(../images/bar.jpg);
	height : 1px;
}
#bar2{
	clear : both;
	margin : auto;
	width : 70%;
	background-image : url(../images/bar.jpg);
	height : 1px;
}
#xmenu{
	margin : 10px 0 0 0;
	padding : 3px;
	background: #bda44d;
	clear : both;
}
#menu{
	margin-left:17%;
}
#menu ul{
	margin:0;
	list-style-type : none;
	text-align : center;
}
#menu li{
	float : left;
	margin :auto;
	padding :0;
}
#menu li a{
	font-family : bubblegum sans;
	font-size : 20px; 
	display : block;
	width : 150px;
	color : black;
	text-decoration : none;
	padding : 5px;
}
#menu li a:hover{
	color : green;
}
#menu ul li ul{
	display : none;
}
#menu ul li:hover ul {
	display : block;
	padding-left:0px;
	text-align : center;
}
#menu li:hover ul li{
	float :none;
}
#menu li ul{
	position: absolute;
}
#menu ul li ul{
	border : solid 3px #96CA2D;
	border-image:url(../images/border_menu75.png) 30 30 round;
	.border-radius:2em; /*ne fonctionne pas avec les images*/
	background-color : white;
}
#deuxiemeDiv{
	background:url(../images/backgroundDegrade.jpg) no-repeat right top;
}
#firstBG{
	width : 10%;
	padding-bottom : 440px;
	float : left;
	background:url(../images/backgroundDegrade.jpg) no-repeat left top;
}
#main{
	background : white;
	padding-bottom: 60%;
	margin: 0 10%;
}
#secondBG{
	/*width : 10%;
	padding-bottom : 100%;
	background:url(../images/backgroundDegrade.jpg) no-repeat right top;*/	
}
#PDP{
	margin : 0;
	margin-bottom : 1%;
	background : #bda44d;
	padding : 1px 0;
	color : #320E15;
}
#acces{
	border-right:1px dotted white;
	margin: 2% 0 0 18%;
	padding-right : 8%;
	float : left;
}
#sous-acces{
	margin-top : 0; 
	margin-left : 17%;
}
#sous-acces a{
	color : #320E15;
}
#hrPDP{
	clear : both;
	visibility : hidden;
}
#contactPDP{
	border-right:1px dotted white;
	margin : 2% 8% 0 8%;
	padding-right : 8%;
	padding-bottom : 4%;
	float : left;
}
#sous-contact{
	margin-left : 10%;
}
#lienPDP{
	margin-top : 5%;
}
#lienLogo{
	cursor : pointer; 
}
#alignementLogo{
	margin-left : 7%;
}






