 @import url(http://fonts.googleapis.com/css?family=Gabriela|Bubblegum+Sans);
body{
	margin : 0;
	font-family : gabriela;
	width : 100%;
}
#premierDiv{
	background : white;
}
#connexion{
	/*float : right;
	clear : both;*/
	/*margin-right : 3%;*/
	text-decoration : none;
	color : black;
}
#connexionInscription{
	float : right;
	margin-right : 3%;
	margin-top : 1%;
}
#entete{
	background : url(../images/titre.png) no-repeat center;
	padding-top : 90px;
	margin :0;
}
#bar1{
	margin : auto;
	width : 70%;
	background-image : url(../images/bar.jpg);
	height : 1px;
}
#bar2{
	clear : both;
	margin : auto;
	width : 70%;
	background-image : url(../images/bar.jpg);
	height : 1px;
}
#xmenu{
	margin : 10px 0 0 0;
	padding : 3px;
	background: #bda44d;
	clear : both;
}
#menu{
	margin-left:17%;
}
#menu ul{
	margin:0;
	list-style-type : none;
	text-align : center;
}
#menu li{
	float : left;
	margin :auto;
	padding :0;
}
#menu li a{
	font-family : bubblegum sans;
	font-size : 20px; 
	display : block;
	width : 150px;
	color : black;
	text-decoration : none;
	padding : 5px;
}
#menu li a:hover{
	color : green;
}
#menu ul li ul{
	display : none;
}
#menu ul li:hover ul {
	display : block;
	padding-left:0px;
	text-align : center;
}
#menu li:hover ul li{
	float :none;
}
#menu li ul{
	position: absolute;
}
#menu ul li ul{
	border : solid 3px;
	border-image:url(../images/border_menu75.png) 30 30 round;
	border-radius:2em;
	background-color : white;
}
#deuxiemeDiv{
	background:url(../images/backgroundDegrade.jpg) no-repeat right top;
}
#firstBG{
	width : 10%;
	padding-bottom : 100%;
	float : left;
	background:url(../images/backgroundDegrade.jpg) no-repeat left top;
}
#secondBG{
	/*width : 10%;
	padding-bottom : 100%;
	background:url(../images/backgroundDegrade.jpg) no-repeat right top;*/	
}
#main{
	background : white;
	padding-bottom: 60%;
	margin: 0 10%;
}